{deps, [
    {nitrogen_core, "2.1.*", {git, "git@github.com:JamesLeeGWU/nitrogen_core.git", "HEAD"}},
    {nprocreg, "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
    {simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
    {sync, "0.1.*", {git, "git://github.com/JamesLeeGWU/sync.git", "HEAD"}},
    {bcrypt, "0.2.*", {git, "git://github.com/JamesLeeGWU/erlang-bcrypt.git", "HEAD"}}
]}.

{erl_opts, [{i, "/usr/lib"}, debug_info]}.

{port_envs, [{"CC", "gcc"}]}.

{sub_dirs, ["rel"]}.

%{lib_dirs, ["..", "/usr/lib"]}.
